.photos-section {
    position: absolute;
    top: 600px;
    left: 400px;
    width: 75%;

    .add-photo-btn {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
    }

    .photo-list {
        // display: inline;
        background-color: #ffffff;
        grid-template-columns: repeat(4, auto);
        padding: 20px;
        margin: 0px;

        img {
            width: 299px;
            height: 200px;
            margin-bottom: 2px;
        }
        .photo-list-item {
            list-style: none;

            img {
                width: 300px;
                height: 200px;
                margin-bottom: 2px;
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .photos-section {
        position: absolute;
        top: 35vh;
        left: 10vw;
        width: 85%;
    }
}

@media (min-width: 768px) and (max-width:860px) {
    .photos-section {
        position: absolute;
        top: 33vh;
        left: 23vw;
        width: 75%;
    }
}

@media (min-width: 861px) and (max-width:1300px) {
    .photos-section {
        position: absolute;
        top: 37vh;
        left: 23vw;
        width: 75%;
    }
}