<div class='login-form-container' id="login-form-container">
  <form id='login-form-template' class='login-form'>
    <div class="mb-3 email">
      <label for="input-email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="input-email" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 password">
      <label for="input-password" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="input-password">
    </div>
    <div class='text-danger' id='error-msg'></div>
    <div class='form-btn'>
      <button type="submit" class="btn btn-primary login-btn">Login</button>
    </div>
  </form>
</div>