.login-form-container {
    align-items: center;
    background-color: #259cf1;
    display: flex;
    height: 100vh;
    scroll-behavior: auto;
    justify-content: center;

    .login-form {
        background-color: #fcfcfc;
        border-radius: 10px;
        padding: 30px 40px;
        width: 25vw;

        #input-email-error {
            color: red;
            margin-top: 5px;
        }

        #input-password-error {
            color: red;
            margin-top: 5px;
        }

        .form-btn {
            text-align: center;

            .login-btn{
                background-color: #259cf1;
                border: none;
            }
        }
    }
}