.friend-list-card{
    position: absolute;
    top: 140vh;
    width: 20vw;

    .friend-list-header{
        align-items: center;
        color: #a09e9e;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        padding: 18px 20px;

        .see-more-btn{
            background-color: #259cf1;
            color: #ffffff;
            border: none;
            border-radius: 20px;
            font-size: 15px;
            padding: 2px 8px;
        }
    }

    .friend-list-separator{
        margin: 0px;
    }

    .friends-images{
        img{
            width: 60px;
            margin: 10px 0px 10px 10px;
        }

        .extra-img{
            // display: none;
        }
    }
}

@media (min-width: 300px) and (max-width: 767px) {
    .friend-list-card{
        margin: 25px 0;
        position: static;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .friend-list-card {
        position: absolute;
        top: 127vh;
        width: 20vw;

        .friend-list-header {
            div {
                font-size: 12px;
            }
            .see-more-btn {
                font-size: 8px;
            }
        }

        .friends-images {
            img {
                width: 50px;
            }
        }
    }
}